<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <!-- Bootstrap Navbar -->
    <%- include('partials/navbar') %>
  
      <!-- Main Content -->
    <div class="container">
        <h1>You're browsing topic: <%= name %></h1>
        <h3>Topic: <%= name %></h3>
        <h4>Total subscribers: <%= subscribers %></h4>
        <h4><%= description %></h4>
        <hr>
            <% for (let post of posts) { %>
                <div>
                    <p><%= post.title %> - <b><%= post.author %></b></p>
                    <% if (post.img) { %>
                        <img src="<%= post.img %>" alt="">
                    <% } %>

                </div>
                <hr>
            <% } %>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>    
</body>
</html>