<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <!-- Bootstrap Navbar -->
    <%- include('partials/navbar') %>

    <h4>Danh sách học viên khóa YAD Bootcamp</h4>
    <!-- EJS will turn a variable array into a string -->
    <h4><%= yadMember %></h4>
    <ul>
        <% for ( let yad of yadMember ) { %>
            <li><%= yad %></li>
        <% } %>
    </ul>

    <!-- Footer -->
    <%- include('partials/footer') %>    
</body>
</html>